<!--Vista-->

<h1>Edit Spending Policie</h1>
<table class="table">
    <thead>
        <tr>
            <th>Section</th>
            <th>Community</th>
            <th>Year</th>
            <th>Percentage-total</th>
            <th>Percentage-variable</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{updatedSpendingPolicie.section}}</td>
            <td>{{updatedSpendingPolicie.community}}</td>
            <td>{{updatedSpendingPolicie.year}}</td>
            <td><input class="form-control" ng-model="updatedSpendingPolicie.percentagetotal" /> </td>
            <td><input class="form-control" ng-model="updatedSpendingPolicie.percentagevariable" /> </td>
            <td><button class="button btn-primary" ng-click="updateSpendingPolicie()">
                Update
            </button></td>
        </tr>
    </tbody>
</table>
<hr/>
<h8><i>{{status}}</i></h8>
