<h1>Budgets Laws list</h1>
<table class="table">
    <thead>

        <th>Community</th>
        <th>Year</th>
        <th>Section</th>
        <th>Budget Of Capital</th>
        <th>Total</th>
        <th>Actions</th>

    </thead>
    <tbody>
        <tr>
            <td><input placeholder=" Ej.: andalucia" class="form-control" type="text" ng-model="newBudget.community" /></td>
            <td><input placeholder=" Ej.: 2017" class="form-control" type="number" min="1" ng-model="newBudget.year" /></td>
            <td><input placeholder=" Ej.: Agencia-sanitaria" class="form-control" type="text" ng-model="newBudget.section" /></td>
            <td><input placeholder=" Ej.: 123" class="form-control" type="number" min="1" ng-model="newBudget.budgetofcapital" /></td>
            <td><input placeholder=" Ej.: 123" class="form-control" type="number" min="1" ng-model="newBudget.total" /></td>
            <td><button class="btn btn-primary" ng-click="addStat()">add</button></td>
        </tr>
        <tr ng-repeat="budgetsLaw in budgetsLaws">
            <td><a href="/budgetsLaws/#!/budget/{{budget.section}}">{{budget.section}}</a></td>
            <td>{{budget.community}}</td>
            <td>{{budget.year}}</td>
            <td>{{budget.budgetofcapital}}</td>
            <td>{{budget.total}}</td>
            <td><button class="button btn-danger" ng-click="deleteBudget(budget.section)">Delete</button></td>
        </tr>
        <tr>
            <td><button type="button" class="button btn-danger" ng-click="deleteAllBudgets()">Delete all</button></td>
            <td><button type="button" class="button btn-danger" ng-click="loadInitialBudgets()">Load</button></td>

        </tr>
    </tbody>
</table>
<hr/>
<h8><i>{{status}}</i></h8>
