<h1>Budgets Laws list</h1>
<table class="table">
    <thead>

        <th>Community</th>
        <th>Year</th>
        <th>Section</th>
        <th>Budget Of Capital</th>
        <th>Total</th>
        <th>Actions</th>

    </thead>
    <tbody>
        <tr>
            <td><input placeholder=" Ej.: andalucia" class="form-control" type="text" ng-model="newbudgetLaw.community" /></td>
            <td><input placeholder=" Ej.: 2017" class="form-control" type="number" min="1" ng-model="newbudgetLaw.year" /></td>
            <td><input placeholder=" Ej.: Agencia-sanitaria" class="form-control" type="text" ng-model="newbudgetLaw.section" /></td>
            <td><input placeholder=" Ej.: 123" class="form-control" type="number" min="1" ng-model="newbudgetLaw.budgetofcapital" /></td>
            <td><input placeholder=" Ej.: 123" class="form-control" type="number" min="1" ng-model="newbudgetLaw.total" /></td>
            <td><button class="btn btn-primary" ng-click="addStat()">add</button></td>
        </tr>
        <tr ng-repeat="budgetsLaw in budgetsLaws">
            <td><a href="/budgetsLawsApp.html#!/budgetLaw/{{budgetLaw.section}}">{{budgetLaw.section}}</a></td>
            <td>{{budgetLaw.community}}</td>
            <td>{{budgetLaw.year}}</td>
            <td>{{budgetLaw.budgetofcapital}}</td>
            <td>{{budgetLaw.total}}</td>
            <td><button class="button btn-danger" ng-click="deleteBudgetsLaws(budgetLaw.section)">Delete</button></td>
        </tr>
        <tr>
            <td><button type="button" class="button btn-danger" ng-click="deleteAllBudgetsLaws()">Delete all</button></td>
        </tr>
    </tbody>
</table>
<hr/>
<h8><i>{{status}}</i></h8>
